<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- Camel Route Engine -->
	<camelContext
		xmlns="http://camel.apache.org/schema/spring">
		<!-- Spring DSL used below to define routes --> 
		<route>
				<from uri="file://C:/camel-workspace/integration/in?noop=true" />
				<to uri="file://C:/camel-workspace/integration/out" />	
		</route>
	</camelContext>

</beans>