<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="emailService" class="com.example.timer.EmailService"></bean>

	<camelContext
		xmlns="http://camel.apache.org/schema/spring">
		<route>
				<from uri="timer://TimeClock?period=5000&amp;repeatCount=10" />
				<log message="Clock is ticking!!!"/>
				<setHeader headerName="Author">
					<constant>Ritesh Tyagi</constant>
				</setHeader>
				<setHeader headerName="Profession">
					<simple>Trainer</simple>
				</setHeader>
				<setBody>
					<simple>IoC Container Event Message  - ${header.firedTime}</simple>
				</setBody>
				<to uri="activemq:EventQ" />	
				<to uri="direct://News" />	
		</route>
		
		<route>
				<from uri="direct://News" />
				<bean ref="emailService" />
				<to uri="stream:out" />
				
		</route>
		
		
	</camelContext>

</beans>